.image1 { 
    background-image: url('http://wallpapercave.com/wp/1cIQnnC.jpg');
    width:100%;
    background-position:center;
    height:575px;
} 

.centerh {
	font-size: 250%;
	text-align: center;
	background: rgba(0,0,0,0.5);
    color: white;
}

.links {
	font-size: 200%;
    color: white;
	background: rgba(0,0,0,0.5);
}

/* unvisited link */
a.whitelink {
    color:white;
    text-decoration: none;
}

#myCarousel {
  margin-top: 40px;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}